.bg-raja_rani{
    background: #FF1493 !important;
}

.bg-pink{
    background: #ffbb99 !important;
}

.bg-golden{
    background: #ffff1a !important;
}

.bg-yantra{
    background: #e68a00 !important;
}

.bg-chetak{
    background: #C5C5C5 !important;
}

.bg-royal{
    background: #80ff80 !important;
}

.h-75px{
    height: 75px !important;
}

.rounded-pill {
    border-radius: 1.75rem!important;
}